#### <b> ƒê·ªÉ tr√°nh vi·ªác `hard-code` ta s·∫Ω ƒë·ªãnh nghƒ©a m·ªôt s·ªë bi·∫øn `constanst` sau:</b>

In [7]:
# T√™n file ch·ª©a data
DATA_FILE_NAME = "Sample - Superstore.csv"
# T√™n c√°c column
ROW_ID = 'ROW ID'
ORDER_ID = 'Order ID'
ORDER_DATE = 'Order Date'
SHIP_DATE = 'Ship Date'
SHIP_MODE = 'Ship Mode'
CUSTOMER_ID = 'Customer ID'
CUSTOMER_NAME = 'Customer Name'
SEGMENT = 'Segment'
COUNTRY = 'Country'
CITY = 'City'
STATE = 'State'
POSTAL_CODE = 'Postal Code'
REGION = 'REGION'
PRODUCT_ID = 'Product ID'
CATEGORY = 'Category'
SUB_CATEGORY = 'Sub-Category'
PRODUCT_NAME = 'Product Name'
SALES = 'Sales'
QUANTITY = 'Quantity'
DISCOUNT = 'Discount'
PROFIT = 'Profit'

#### <b>1 <span style='color:#B21010'>|</span> ƒê·ªçc d·ªØ li·ªáu v√† t√≠nh s·ªë d√≤ng v√† c·ªôt</b>

üëâ ƒê·∫ßu ti√™n ta import, c√†i ƒë·∫∑t c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt.

In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

üëâ Ti·∫øp ƒë·∫øn ƒë·ªçc file `"Sample - Superstore.csv"` v√†o dataframe `df` v√† in ra 5 d√≤ng ƒë·∫ßu ti√™n c·ªßa dataframe.

In [9]:

df = pd.read_csv(DATA_FILE_NAME, encoding= 'unicode_escape')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

üëâ T√≠nh s·ªë d√≤ng v√† s·ªë c·ªôt v√† l∆∞u v√†o 2 bi·∫øn `num_rows` v√† `num_cols`.

In [10]:
num_rows, num_cols = df.shape
print(f'Number of rows: {num_rows}\nNumber of columns: {num_cols}')

Number of rows: 9994
Number of columns: 21

#### <b>2 <span style='color:#B21010'>|</span> M·ªói d√≤ng c√≥ √Ω nghƒ©a g√¨? C√≥ v·∫•n ƒë·ªÅ c√°c d√≤ng c√≥ √Ω nghƒ©a kh√°c nhau kh√¥ng?</b>

* B·ªô d·ªØ li·ªáu ch·ª©a th√¥ng tin li√™n quan ƒë·∫øn B√°n h√†ng, l·ª£i nhu·∫≠n v√† c√°c nh√¢n t·ªë th√∫ v·ªã kh√°c c·ªßa m·ªôt si√™u th·ªã l·ªõn.
* M·ªói d√≤ng l√† th√¥ng tin c·ªßa m·ªôt s·∫£n ph·∫©m ƒë∆∞·ª£c mua bao g·ªìm c√°c th√¥ng tin v·ªÅ s·∫£n ph·∫©m v√† th√¥ng tin v·ªÅ kh√°ch h√†ng mua s·∫£n ph·∫©m.
<br>
**=> V√¨ th·∫ø s·∫Ω kh√¥ng xu·∫•t hi·ªán d√≤ng c√≥ √Ω nghƒ©a kh√°c.**

#### <b>3 <span style='color:#B21010'>|</span> D·ªØ li·ªáu c√≥ c√°c d√≤ng b·ªã l·∫∑p kh√¥ng?</b>

üëâ Ta ki·ªÉm tra xem c√≥ d√≤ng n√†o b·ªã l·∫∑p kh√¥ng b·∫±ng c√°ch s·ª≠ d·ª•ng c√°c ph∆∞∆°ng th·ª©c `duplicated()` v√† `any()` tr√™n dataframe `df` v√† l∆∞u k·∫øt qu·∫£ v√†o bi·∫øn `have_duplicated_rows`. Bi·∫øn n√†y s·∫Ω c√≥ gi√° tr·ªã True n·∫øu d·ªØ li·ªáu c√≥ c√°c d√≤ng b·ªã l·∫∑p v√† c√≥ gi√° tr·ªã False n·∫øu ng∆∞·ª£c.

In [11]:
have_duplicate_rows = df.duplicated().any()
have_duplicate_rows

False

üí° Ta th·∫•y r·∫±ng d·ªØ li·ªáu kh√¥ng c√≥ d√≤ng n√†o b·ªã tr√πng l·∫∑p.

#### <b>4 <span style='color:#B21010'>|</span> T·ª∑ l·ªá gi√° tr·ªã thi·∫øu v√† th·ªëng k√™ m√¥ t·∫£ c·ªßa t·ª´ng c·ªôt</b>

ƒê·ªÉ t√≠nh t·ª∑ l·ªá gi√° tr·ªã thi·∫øu, s·ª≠ d·ª•ng ph∆∞∆°ng th·ª©c `isna()` v√† `mean()` v√† l∆∞u v√†o bi·∫øn `missing_rate`

ƒê·ªÉ th·ªëng k√™ m√¥ t·∫£ m·ªói c·ªôt, ph∆∞∆°ng th·ª©c `describe()`.
Trong ƒë√≥:
* `count`: s·ªë l∆∞·ª£ng gi√° tr·ªã kh√¥ng b·ªã thi·∫øu trong c·ªôt.
* `mean` : gi√° tr·ªã trung b√¨nh c·ªßa c√°c gi√° tr·ªã trong c·ªôt.
* `std` : ƒë·ªô l·ªách chu·∫©n c·ªßa c√°c gi√° tr·ªã trong c·ªôt.
* `min` : gi√° tr·ªã nh·ªè nh·∫•t trong c·ªôt.
* `25%`, `50%`, `75%` : c√°c **`ph√¢n v·ªã`** t∆∞∆°ng ·ª©ng v·ªõi c√°c m·ª©c ph√¢n chia d·ªØ li·ªáu l√† `25%`, `50%` v√† `75%`.
* `max` : gi√° tr·ªã l·ªõn nh·∫•t trong c·ªôt.

üëâ Th·ªëng k√™ c√°c c·ªôt `numerical`

In [12]:
describe = df.describe()
missing_rates = df[describe.columns].isna().mean()
missing_rates.name = 'missing_rate'
describe = pd.concat([describe, missing_rates.to_frame().T])
describe

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000
missing_rate,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

üëâ Th·ªëng k√™ c√°c c·ªôt `category`

In [13]:
describe = df.describe(include=['O'])
missing_rates = df[describe.columns].isna().mean()
missing_rates.name = 'missing_rate'
describe = pd.concat([describe, missing_rates.to_frame().T])
describe

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Region,Product ID,Category,Sub-Category,Product Name
count,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994,9994
unique,5009,1237,1334,4,793,793,3,1,531,49,4,1862,3,17,1850
top,CA-2017-100111,9/5/2016,12/16/2015,Standard Class,WB-21850,William Brown,Consumer,United States,New York City,California,West,OFF-PA-10001970,Office Supplies,Binders,Staple envelope
freq,14,38,35,5968,37,37,5191,9994,915,2001,3203,19,6026,1523,48
missing_rate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### <b>5 <span style='color:#B21010'>|</span> Ki·ªÉu d·ªØ li·ªáu c·ªßa m·ªói c·ªôt</b>

üëâ Ta s·ª≠ d·ª•ng ph∆∞∆°ng th·ª©c `dtypes` tr√™n dataframe `df` ƒë·ªÉ xem ki·ªÉu d·ªØ li·ªáu c·ªßa m·ªói c·ªôt. K·∫øt qu·∫£ ƒë∆∞·ª£c l∆∞u v√†o series `col_dtypes`; series n√†y c√≥ index l√† t√™n c√°c c·ªôt v√† gi√° tr·ªã l√† ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c c·ªôt t∆∞∆°ng ·ª©ng.

In [21]:
col_dtype = df.dtypes
col_dtype

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

üëâ Ta s·ª≠ d·ª•ng ph∆∞∆°ng th·ª©c `select_dtypes` ƒë·ªÉ li·ªát k√™ c√°c c·ªôt ki·ªÉu `numerical` v√† `category`

In [19]:
cat_coulmns  = df.select_dtypes(['object']).columns

num_coulmns  = df.select_dtypes(['number']).columns

print(cat_coulmns)
print(num_coulmns)

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Region',
       'Product ID', 'Category', 'Sub-Category', 'Product Name'],
      dtype='object')
Index(['Row ID', 'Postal Code', 'Sales', 'Quantity', 'Discount', 'Profit'], dtype='object')

üëâ Chuy·ªÉn `Order Date` v√† `Ship Date` sang ki·ªÉu d·ªØ li·ªáu `datetime`

In [24]:
df['Order Date'] = df['Order Date'].astype('datetime64[ns]')
df['Ship Date'] = df['Ship Date'].astype('datetime64[ns]')